Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

# Creating a Pandas Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print("Pandas Series:")
print(series)

Pandas Series:
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
# Creating a list
list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Converting the list to a Pandas Series
series_from_list = pd.Series(list_data)
print("\nPandas Series from list:")
print(series_from_list)

Pandas Series from list:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
    
|Name|Age|Gender|
|----|---|-----|
|Alice|25|Female|
|Bob|30|Male|
|Claire|27|Female|

In [4]:
# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print("\nPandas DataFrame:")
print(df)

Pandas DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A DataFrame in pandas is a two-dimensional, size-mutable, and heterogeneous tabular data structure with labeled axes (rows and columns). It is similar to a table in a database or an Excel spreadsheet.

A Series is a one-dimensional array-like object that can hold any data type. It is essentially a single column of a DataFrame.

In [5]:
# Series example
series_example = pd.Series([1, 2, 3, 4, 5])
print("\nSeries example:")
print(series_example)

# DataFrame example
df_example = pd.DataFrame({
    'Column1': [1, 2, 3, 4, 5],
    'Column2': ['A', 'B', 'C', 'D', 'E']
})
print("\nDataFrame example:")
print(df_example)

Series example:
0    1
1    2
2    3
3    4
4    5
dtype: int64

DataFrame example:
   Column1 Column2
0        1       A
1        2       B
2        3       C
3        4       D
4        5       E

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [6]:
# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire', 'Alice'],
    'Age': [25, 30, 27, 25],
    'Gender': ['Female', 'Male', 'Female', 'Female']
}
df = pd.DataFrame(data)

# Using groupby() and mean() to find average age by gender
grouped_data = df.groupby('Gender')['Age'].mean()
print("\nGrouped Data:")
print(grouped_data)

Grouped Data:
Gender
Female    25.666667
Male      30.000000
Name: Age, dtype: float64

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

* Series: Mutable
* DataFrame: Mutable
* Panel: Deprecated in pandas, so it is no longer used.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [7]:
# Creating multiple Series
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Creating a DataFrame using the Series
df_from_series = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'Gender': genders
})

print("\nDataFrame from multiple Series:")
print(df_from_series)

DataFrame from multiple Series:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female